<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="simpleviewer.js"></script>
    <script type="text/javascript" src="pdfjs-directive.js"></script>

    <script type="text/javascript" src="node_modules/pdfjs-dist/web/compatibility.js"></script>
    <script type="text/javascript" src="node_modules/pdfjs-dist/build/pdf.js"></script>
    <script type="text/javascript" src="node_modules/pdfjs-dist/web/pdf_viewer.js"></script>


  </head>
  <body>
    <nav>
      <button id="previousPage" ng-click="previousPage()">Previous</button>
      <button id="nextPage" ng-click="nextPage()">Next</button>
    </nav>
    <pdfjs pdfpath="relativity.pdf"></pdfjs>
  </body>
</html>
